


@inherits LayoutComponentBase
@inject IJSRuntime IJSRuntime;


@code{      
    protected override Task OnInitializedAsync()
    {
        BlazorClassicForms.HTML.dom.Setup(IJSRuntime as IJSInProcessRuntime);

        var x = new BlazorClassicFormsTest.UI.frmMain();        
        x.Show();

        return base.OnInitializedAsync();
    }
}

@*<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>*@
